Repository vergenzt/secret-hitler-sms: changes, and which pre-commit hooks are due for each by the changed paths.
All: gen-images, sync-static-to-s3, cog

gen-images:
  name: regenerate static/img/*.png
  language: system
  pass_filenames: false
  entry: make -C static/img --jobs=32 rebuild

sync-static-to-s3:
  name: sync static/ to s3
  language: script
  pass_filenames: false
  entry: scripts/sync-static-to-s3

cog:
  name: cog (regenerate files)
  language: script
  entry: scripts/cog

wip: delete 1 file, update 1 file
  bootstrap
  src/deps.sh
Due: cog

wip: update bootstrap
  bootstrap
Due: none

wip: update src/functions/game-init.sh
  src/functions/game-init.sh
Due: none

wip: update src/lib.sh
  src/lib.sh
Due: none

wip: update serverless.yml
  serverless.yml
Due: cog

wip: add 1 file, update 1 file
  serverless-config/dns.yml
  serverless.yml
Due: cog

wip: update 2 files
  serverless-config/dns.yml
  serverless.yml
Due: cog

wip: update serverless-config/dns.yml
  serverless-config/dns.yml
Due: none

wip: update serverless-config/functions.py
  serverless-config/functions.py
Due: none

wip
  serverless-config/dns.yml
  serverless.yml
Due: cog

wip: add 1 file, update 9 files
  .pre-commit-config.yaml
  .shellcheckrc
  bootstrap
  serverless-config/functions.py
  serverless.yml
  src/functions/game-get.sh
  src/functions/game-init.sh
  src/functions/game-player-init.sh
  src/functions/util-get-bins.sh
  src/lib.sh
Due: cog

wip: add 2 files, update 4 files
  bootstrap
  serverless-config/dns.yml
  serverless-config/functions.py
  serverless-config/s3.yml
  serverless.yml
  static/index.html
Due: sync-static-to-s3, cog

wip: update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: cog

wip: update static/index.html
  static/index.html
Due: sync-static-to-s3

wip: update src/functions/util-get-bins.sh
  src/functions/util-get-bins.sh
Due: none

change /game/{GAME_ID} to /game?id=
  src/functions/game-get.sh
  static/index.html
Due: sync-static-to-s3

wip: update scripts/sync-static-to-s3
  scripts/sync-static-to-s3
Due: none

wip: update 2 files
  serverless-config/dns.yml
  static/index.html
Due: sync-static-to-s3

wip: update 2 files
  src/functions/game-start.sh
  src/lib.sh
Due: none

wip: update .gitignore
  .gitignore
Due: none

convert backticks to $(...)
  scripts/__lib.sh
  scripts/initialize-game.sh
  scripts/legislate.sh
  scripts/peek_policy_deck.sh
Due: none

initial conversion of twilio => textbelt
  .textbeltrc
  scripts/__lib.sh
  scripts/initialize-game.sh
  scripts/legislate.sh
  scripts/peek_policy_deck.sh
Due: none

get rid of source phone! no longer necessary
  scripts/__lib.sh
  state/public/.source-phone.txt.example
Due: none

wip: delete static/twilio-empty-response.xml
  static/twilio-empty-response.xml
Due: sync-static-to-s3

wip: update scripts/__lib.sh
  scripts/__lib.sh
Due: none

images => img
  static/img/Makefile
  static/img/Secret_Hitler_PnP_color_with_backface.pdf
  static/img/board-5or6.png
  static/img/board-7or8.png
  static/img/board-9or10.png
  static/img/boardpart-fascist-5or6.png
  static/img/boardpart-fascist-7or8.png
  static/img/boardpart-fascist-9or10.png
  static/img/boardpart-liberal.png
  static/img/party-fascist.png
  static/img/party-liberal.png
  static/img/policy-fascist.png
  static/img/policy-liberal.png
  static/img/policycombo-fascist-fascist-fascist.png
  static/img/policycombo-fascist-fascist-liberal.png
  static/img/policycombo-fascist-fascist.png
  static/img/policycombo-fascist-liberal-fascist.png
  static/img/policycombo-fascist-liberal-liberal.png
  static/img/policycombo-fascist-liberal.png
  static/img/policycombo-liberal-fascist-fascist.png
  static/img/policycombo-liberal-fascist-liberal.png
  static/img/policycombo-liberal-fascist.png
  static/img/policycombo-liberal-liberal-fascist.png
  static/img/policycombo-liberal-liberal-liberal.png
  static/img/policycombo-liberal-liberal.png
  static/img/role-fascist-1.png
  static/img/role-fascist-2.png
  static/img/role-fascist-3.png
  static/img/role-hitler.png
  static/img/role-liberal-1.png
  static/img/role-liberal-2.png
  static/img/role-liberal-3.png
  static/img/role-liberal-4.png
  static/img/role-liberal-5.png
  static/img/role-liberal-6.png
Due: gen-images, sync-static-to-s3

Path conditions:
  gen-images: any of: ^static/img/
  sync-static-to-s3: any of: ^static/
  cog: any of: (?x)^(
# (run `pre-commit run -a cog` to auto-add files with cog snippets:)
#[[[cog
#  cog_files = sp.check_output(["git", "grep", "-lF", "[[[" + "cog"], text=True).splitlines()
#  print(" |\n".join(map(re.escape, cog_files)))
#]]]
\.pre\-commit\-config\.yaml |
serverless\.yml |
src/deps\.sh
#[[[end]]] (checksum: 8615d67689608c96a9d512a02a1e690d)
)$

